@CHARSET "UTF-8";
*{
	margin:0;
	padding:0;
	list-style-type:none;
}

textarea{
	width: 95%;
	margin: 3px;
}

.cinput{
	width: 95%;
	height: 20px;
	margin: 3px;
	
}
.container{
	width:940px; 
	height:1040px;
}
.backForm{
	width:680px;
	margin:10px auto;
	border:1px solid darkblue;
}

.btn-div{
	width:680px;
	margin:10px auto;
	height: 40px;
	border: none;
}

.front{
	width:100px; 
	text-align:center; 
	margin:5px; 
	height:25px; 
	float:left; 
	padding-top:5px;
}
.writeForm{
	width:660px; 
	height:40px; 
	margin:0px auto; 
	border-bottom:1px solid darkblue;
}
.line{
	width:550px; 
	height:30px; 
	margin:5px auto; 
	float:left;
}
.photo{
	margin:3px;
}

.li-btn {
	float: left;
	margin: 10px 5px;
}
